<%= form_with url: killed_monsters_path(user_id: @user), id: :killed_monsters_form do |f| %>
  <%= f.text_field :turtle, class: :turtle if @monster.turtle? %>
  <%= f.text_field :bowser, class: :bowser if @monster.bowser? %>
<% end %>
<%= form_with url: collected_coins_path(user_id: @user), id: :collected_coins_form do |f| %>
  <%= f.text_field :coin, class: :coin if !@coin.zero? %>
<% end %>
<%= form_with url: deaths_path(user_id: @user), id: :deaths_form do |f| %>
  <div class="bart"></div>
<% end %>
<%= link_to '', trophies_path(user_id: @user), class: :trophies %>