<p><%= @trophies[:coins] %> trófeu(s) de moedas coletadas</p>
<p><%= @trophies[:deaths] %> trófeu(s) de morte</p>
<p><%= @trophies[:turtles] %> trófeu(s) de abates de tartarugas</p>
<p><%= @trophies[:bowsers] %> trófeu(s) de abates de bowsers</p>
<%= link_to :voltar, root_path(user_id: @user) %>

