.turtle {
  width: 100%;
  height: 200px;
  background-size: 50% 50%;
  background: url('../images/leo_ninja_turtle.png') no-repeat;
  cursor: pointer;
  position: relative;
  top: 200px;
  border: none;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: walkAnimation;
  animation-name: walkAnimation;
}

.bowser {
  @extend .turtle;
  background: url('../images/mario_world_bowser.png') no-repeat !important;
}

.bart {
  width: 100%;
  height: 200px;
  background-size: 50% 50%;
  background: url('../images/bart.png') no-repeat;
  position: relative;
  top: 150px;
}

.coin {
  width: 100px;
  height: 100px;
  background: url('../images/super_mario_coin.png') no-repeat;
  cursor: pointer;
  position: absolute;
  top: 200px;
  border: none;
  left: 500px;
}

.trophies {
  width: 100%;
  height: 200px;
  background: url('../images/trophy.png') no-repeat;
  cursor: pointer;
  position: absolute;
  top: 350px;
  border: none;
  left: 450px;
}

@keyframes walkAnimation {
  0% { top: -350px }
  100% { top: 200px }
}